@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
h1,
h2,
h3 {
  font-family: "Dela Gothic One", cursive;
}

p,
a {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 20px;
  background: radial-gradient(
    125.29% 23.08% at 50.13% 39.89%,
    #f4cb3a 23.46%,
    #ffac2f 76.27%
  );
  header {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    img {
      margin: 0 auto;
      border-radius: 50%;
      background-color: #fff;
      max-width: 100px;
    }
    h1 {
      text-align: center;
      color: #fff;
      font-size: 36px;
      line-height: 40px;
    }
    p {
      font-size: 18px;
      text-align: center;
      color: #fff;
      text-shadow: 0px 0px 30px #00000030;
      margin-bottom: 0;
    }
  }
  main {
    section {
      .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        max-width: 375px;
        margin: 0 auto;
        a {
          text-align: center;
          padding: 16px 25.5px;
          border-radius: 8px;
          border: 0;
          text-decoration: none;
          display: flex;
          gap: 8px;
          width: 100%;
          flex-direction: row;
          place-content: center;
          align-items: center;
          &.inEvidenza {
            background-color: #ebebeb;
            background-position: center;
            background-size: cover;
            padding: 16px 0;
          }
          &.new {
            position: relative;
            &::after {
              content: "NOVITÀ";
              font-weight: bold;
              background: radial-gradient(
                67.42% 65.41% at 34.48% 26.69%,
                #9a4dff 26.56%,
                #9825ce 100%
              );
              box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
              border-radius: 16px;
              padding: 8px 16px 7px;
              font-size: 12px;
              position: absolute;
              top: 5px;
              right: -10px;
              transform: translate(0%, -50%);
              box-shadow: 0px 3.2887697219848633px 3.2887697219848633px 0px
                #00000040;
            }
          }
          &.ig {
            background: linear-gradient(
              225deg,
              #1400c8 0%,
              #b900b4 50.52%,
              #f50000 100%
            );
            color: #fff;
          }
          &.fb {
            background: #1877f2;
            color: #fff;
          }
          &.mg {
            background: linear-gradient(
              225deg,
              #ff7061 0%,
              #a033ff 50.52%,
              #0099ff 100%
            );
            color: #fff;
          }
          &.yt {
            background-color: #212121;
            color: #fff;
          }
          &.wa {
            background: #455a64;
          }
          &.f {
            background: #131313;
            p {
              color: #fff;
            }
          }
          &.gh {
            background: #000000;
            p {
              color: #fff;
            }
          }
          p {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            margin: 0;
          }
          a {
            color: inherit;
          }
        }
      }
    }
  }
  footer {
    margin-top: 84px;
    margin-bottom: 100px;
    text-align: center;
    hr {
      border-top: 1px solid #fff;
      margin-bottom: 18px;
    }
    .links {
      display: flex;
      flex-direction: row;
      gap: 15px;
      place-content: center;
    }
  }
}
